.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-spinner {
  display: flex;
  justify-content: center;
}

.center-spinner-table {
  position: absolute;
  left: 55%;
}

body {
  background-color: #e2dddd
}
